<!DOCTYPE html>
<html lang="en">

<head>
    <title>NuclearLedger</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="../../src/controllers/mainWindowController.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://bootswatch.com/4/slate/bootstrap.min.css">
</head>

<body>
    <h1>
        MainWindow
    </h1>

    <table class="table table-hover" id="table-hover-main">
        <thead>
        </thead>
        <tbody>
            <tr class="table-secondary tube">
                <th scope="row">Simulations</th>
            </tr>
            <tr class="table-secondary-tube" >
                <th scope="row">Adquisition simulation</th>
            </tr>
        </tbody>
    </table>
</body>

</html>